
.line{
    color:white;
}
.Chart_wrapper{
    text-align:center;
    color:white;
    height:70%;
    margin-left:auto;
    background: rgb(91, 154, 248);
    border-radius: 20px;
    align-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 2rem 1rem 3rem;
}