.wrapper{
    margin-bottom: 5rem;
    height: 100%;
}

.content{
    margin-bottom: 5rem;
    height: 100%;

    align-content: center;
    padding: 10px 5% 10px 5%;
    color: white;
}
.basic_info_wrapper{
    align-content: center;
    text-align: center;
    padding-top: 5%;
    
}
.skills_languages{
    float: left;
    width: 100%;
    overflow: hidden;
}
.info__skills{
    float: left;
    width: 50%;
    overflow: hidden;
    text-align: center;
}
.info__languages{
    overflow: hidden;
    text-align: center;
}
.work__school_info{
    float: left;
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.work__info{
    float: left;
    width: 50%;
    overflow: hidden;
    text-align: center;
}
.school__info{
    overflow: hidden;
    text-align: center;
}
.footer_info{
    align-items: center;
    margin:auto;

    overflow: hidden;
    text-align: center;
}
.footer_wrapper{
    clear: both;
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 3.5rem;
    background: #0d61ce;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    color:white;

}
.clearer{
    height:1px;
    overflow:hidden;
    clear:both;
    margin-top:-1px;
}

@media only screen and (max-width: 768px) {
    .footer_info p {
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .footer_info p {
      font-size: 5px;
    }
  }