.wrapper{
  text-align:center;
  padding:4rem;
  padding-bottom: 0.5rem;
  color:white;
}
select {
    border-radius: 15px;
    padding: 0.5rem 1rem;
    border: 1px solid #04003f;
    background: rgb(60, 137, 252);
    font-style: italic;
    margin-top:1.5rem;
    width: 35%;
    color:white;
  }
.spinner{
  padding: 2rem;
}
  option{
    color: #000000;
    font-style: italic;
  }
  
  
  