.footer_wrapper{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height: 5rem;
    background: #0d61ce;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    color:white;
    clear: both;
}
.footer_header{

    text-align: center;
}
footer{
    
    display: flex;
}
.footer_header a{
    color:white;
    padding-top:2rem;
    font-size: 15px;
}
@media only screen and (max-width: 768px) {
    .footer_wrapper a, p {
      font-size: 10px;
    }
  }
  
  @media only screen and (max-width: 320px) {
    .footer_wrapper a, p{
      font-size: 5px;
    }
  }
