content {
    margin: 0rem 0rem;
    height: 100%;
  }

  body {
      background-image: url("./images/climb-cold-daylight-464370.jpg");
      position: relative;
      margin: 0;
      padding-bottom: 4rem;
      min-height: 100%;
      font-family: "Helvetica Neue", Arial, sans-serif;
      background-size: cover;
      
  }
  header{
    top: 0;
    bottom:0;
    width: 100%;
  }
  @media only screen 
  and (min-device-width : 1px) 
  and (max-device-width : 1300px) {
     body {
        background: rgb(91, 154, 248);
    }
  }