.summary {
  margin-left: auto;
  margin-right: auto;
  max-width: 60%;
  float: none;
  height:400px;
  overflow:auto; 
  background: transparent;
  border-radius: 10px;
}


.data_wrapper {
  text-align: center;
  justify-content: center;
  border: 1px solid rgb(60, 137, 252);
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top:3rem;
  border-radius: 10px;
  color: #ffffff;
}
  .summary_wrapper{
    width: 100%;
    
  }
  .summary_country button{
    background:  rgb(60, 137, 252);
    font:inherit;
    border:none;
    text-align: center;
    padding: 0.5rem 0.8rem;
    margin:0.5rem;
    width: 7rem;
    outline:none;
    cursor: pointer;
    vertical-align: middle;
    border-radius: 10px;
    color:white;
    border: 1px solid black;
  }

  .summary_country{
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    justify-content: center;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border-radius: 10px;
    border: 1px solid #0d61ce;
    color:white;
  }
  
  .country_name {
    padding: 10px;
    justify-content: center;
    float: right;
    color: #ffffff;
    margin: 0.1rem 0;
    font:inherit;
    font-size: 1.775em;
  }

